<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="loginStyles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
  </head>
  <body>
    <div class="toastr" id="toastr" hidden>
      <p id="errorShower" class="errorShower" hidden></p>
    </div>

    <div class="login-form">
      <h2>Log In</h2>
      <form action="/login" method="POST" id="form">
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          required
        />
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
      <br />
      <a href="/register" class="register">Register!</a>
      <div class="forgot">
        <small><a href="#" class="#">¿Forgot your password?</a> </small>
      </div>
    </div>
  </body>
</html>

<script src="./login.js"></script>
